@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');

html {
  font-size: 16px;
}

body {
  padding: 0;
  font-size: 62.5%;
  letter-spacing: 0.1em;
  color: #f3d352;
  text-shadow: 1px 1px 0 #000;
  font-family: 'Cinzel', serif;
  background-image: url("./styles/background.jpg");
}
